*{
    margin: 0px;
    padding:0px;
}
body{
    text-align: center;
}
table{
    margin:10px auto;
    background: rgb(122, 7, 7);
}
td{
    padding: 10px;
}
span{
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
}